In [5]:
print('Hello')

Hello

In [6]:
import pandas as pd

In [7]:
print('hello')

hello

In [8]:
import numpy as np

In [9]:

data=[[1,2,3],
      [4,5,6],
      [7,8,9]]

column=["A","B","C"]

df=pd.DataFrame(data,columns=column)
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
y=df.iloc[0,0]
print(y)

1

In [11]:
print(df.iloc[0,0])

1

In [12]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df1=pd.DataFrame(data=exam_data,index=labels)
print(df1)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [13]:
pwd

'd:\\University\\semester 3\\datasci and tech\\week 2'

In [14]:
import os

In [15]:
os.chdir("d:\\University\\semester 3\\datasci and tech\\week 2")

In [16]:
credits=pd.read_excel("./data/default_of_credit_card_clients__courseware_version_1_21_19.xls")

print(credits)

                  ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE PAY_1  PAY_2  \
0      798fc410-45c1      20000    2          2         1   24     2      2
1      8a8c8f3b-8eb4     120000    2          2         2   26    -1      2
2      85698822-43f5      90000    2          2         2   34     0      0
3      0737c11b-be42      50000    2          2         1   37     0      0
4      3b7f77cc-dbc0      50000    1          2         1   57    -1      0
...              ...        ...  ...        ...       ...  ...   ...    ...
29995  ecff42d0-bdc6     220000    1          3         1   39     0      0
29996  99d1fa0e-222b     150000    1          3         2   43    -1     -1
29997  95cdd3e7-4f24      30000    1          2         2   37     4      3
29998  00d03f02-04cd      80000    1          3         1   41     1     -1
29999  15d69f9f-5ad3      50000    1          2         1   46     0      0

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1     -1  ...          0          0          0         0       689
1          0      0  ...       3272       3455       3261         0      1000
2          0      0  ...      14331      14948      15549      1518      1500
3          0      0  ...      28314      28959      29547      2000      2019
4         -1      0  ...      20940      19146      19131      2000     36681
...      ...    ...  ...        ...        ...        ...       ...       ...
29995      0      0  ...      88004      31237      15980      8500     20000
29996     -1     -1  ...       8979       5190          0      1837      3526
29997      2     -1  ...      20878      20582      19357         0         0
29998      0      0  ...      52774      11855      48944     85900      3409
29999      0      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
...         ...       ...       ...       ...                         ...
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[30000 rows x 25 columns]

In [17]:
credits.columns.size

25

In [18]:
credits.shape

(30000, 25)

In [19]:
credits.dtypes

ID                            object
LIMIT_BAL                      int64
SEX                            int64
EDUCATION                      int64
MARRIAGE                       int64
AGE                            int64
PAY_1                         object
PAY_2                          int64
PAY_3                          int64
PAY_4                          int64
PAY_5                          int64
PAY_6                          int64
BILL_AMT1                      int64
BILL_AMT2                      int64
BILL_AMT3                      int64
BILL_AMT4                      int64
BILL_AMT5                      int64
BILL_AMT6                      int64
PAY_AMT1                       int64
PAY_AMT2                       int64
PAY_AMT3                       int64
PAY_AMT4                       int64
PAY_AMT5                       int64
PAY_AMT6                       int64
default payment next month     int64
dtype: object